
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(120deg, #ffe53bd8, #ff2525da);
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio{
    margin: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
}

.relogio div{
    height: 90%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    background-color: rgba(5, 5, 5, 0.9);
    box-shadow: rgba(5, 5, 5, 0.7);
    border-radius: 7px;
    overflow: hidden;
    letter-spacing: 2px;
}

.relogio span{
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo {
    font-size: 1rem;
}
